.skill {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 30px 20px;
    box-shadow: 0 15px 40px rgb(0 0 0 / 50%);
    background: #edb021;
    border-radius: 5px;
}

.skill:hover {

}

.icon {
    background-color: #687786;

    background-repeat: no-repeat;
    height: 70px;
    margin-bottom: 5px;
    opacity: .2;
    transition: .5s;
    width: 70px;
}

.title {
    padding-top:10px;
    margin: 0;
    color:#222;
}

.description {
    font-weight: 400;
    font-size: 13px;
    color:#333;
}