.skill {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 30px 20px;
    box-shadow: 0 15px 40px rgb(0 0 0 / 50%);
    background: #edb021;
    border-radius: 5px;
    z-index: 1;
}

.icon {
    margin-bottom: 5px;
    transition: .5s;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.box{
    position: absolute;
    display: block;
    text-decoration: none;
    padding: 15px;
    color: #fff;
    background: #14181e;
    border-radius: 5px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    transition: all 0.4s ease-in-out;

}
.unhoveredBox{
    opacity: 0;
    transition: all 0.4s ease-in-out;
    top: 0;
    left: 0;
    height: 270px;
    width: 270px;

}
.hoveredBox{
    top: 15px;
    left: 15px;
    opacity: 1;
    transition: all 0.4s ease-in-out;

}

box:hover {
    background: #454545;
    color: #fff;
    display: block;
    height: 300px;
    width: 300px;

}

.inBox{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

}
.title {
    padding-top:10px;
    margin: 0;
    color:#fff;
}

.description {
    font-weight: 400;
    font-size: 13px;
    color:#fff;
}

@media (max-width:  730px) {
    .unhoveredBox {
        left: -23px;
        height: 110px;
        width: 110px;
    }

    .hoveredBox {
        left: -20px;
        top: 10px;
    }

    .skill {
        position: relative;
        width: 115px;
        height: 115px;
        margin: 20px 10px;
        border-radius: 10px;
        display: flex;
        justify-content: center;
    }

    .box {
        z-index: 10;
        width: 110%;
        height: 110%;
        border-radius: 10px;

    }
}