.block {
    min-height: 100vh;
    background-image: url("../assets/image/back-white2.jpg");
}

.container {
    min-height: 100vh;
    flex-direction: column;

    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

}

.title {
    background-color: lightslategrey;
}


.works {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}


@media (max-width: 700px) {
    .container{
        width: 90%;
        margin: 0;
    }

    .works {
        justify-content: center;
    }
}