.block{
    min-height: 100vh;

}

.container{
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;

}

.title{
    background-color: lightslategrey;
}


.works{
    width: 100%;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;

}




    @media (max-width:  700px) {
        .works{
            justify-content: center;
        }
}