.block{
    min-height: 100vh;
    background-color: #ffe4ec;
}

.container{
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;

}

.title{
    background-color: lightslategrey;
}

.skills{
    border: 1px solid black;
    background-color: lightslategrey;
    width: 100%;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    box-sizing: border-box;
}