.burgerNav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;

}

.burgerNavButton{
    width: 36px;
    height: 36px;
    background-color: #edb021;
    position: absolute;
    top:20px;
    right: 24px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.7s;
}
.closeButton{
    top:110px;
}


.burgerNavItems{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 0;
    width: 100%;
    height: 150px;
    align-items: center;
    padding: 20px;
    transform: translate(0, 0);
    transition: 0.7s;
    margin-top: -10px;
}

.close{
    transform: translate(0, -150px);
}

.nav .active{
    color:#edb021;
}

.linkUnderlineMenu {
    color: #f9f4e6; /* Цвет обычной ссылки */
    position: relative;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-decoration: none; /* Убираем подчеркивание */
}
.linkUnderlineMenu:after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    right: 0;
    bottom: -3px;
    width: 0;
    height: 2px; /* Высота линии */
    background-color: #d5921a; /* Цвет подчеркивания при исчезании линии*/
    transition: all 0.4s ease-in-out 0s; /* Время эффекта */

}

.linkUnderlineMenu:hover:after {
    content: "";
    width: 140%;
    display: block;
    position: absolute;
    left: -18%;
    bottom: -3px;
    height: 2px; /* Высота линии */
    background-color: #f1d881; /* Цвет подчеркивания при появлении линии*/
    transition: all 0.4s ease-in-out 0s;  /* Время эффекта */
}

.img{
    background: no-repeat;
    transform: scale(0.8);
    position: absolute;
    left: -32px;
    top: -7px;
    height: 50px;
}

.burgerNavButton:active {
    background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
    box-shadow:
            0 0 1px rgba(0,0,0,.5) inset,
            0 2px 3px rgba(0,0,0,.5) inset,
            0 1px 1px rgba(255,255,255,.1);
}


@media screen and (min-width: 600px) {
    .burgerNav {
        display: none;
    }
}