.mainBlock {
    height: 80vh;
    background-image: url("../assets/image/back-white2.jpg");
    margin-top: 80px;
}

.container{
    height: 100%;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flexBlock {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.blockLeft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
}

.text {
    width: 300px;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: lightslategrey;
    background: url("../assets/image/Photo.jpg");
}

.linkBox {
    width: 150px;
    height: 50px;
    background-color: #14181e;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    text-decoration: none;
    outline: none;
    color: #f9f4e6;

}

.linkBox:hover {
    background-color: #edb021;
    transition: 0.3s;
}

.link:hover {
    color: #14181e;
}


@media screen and (max-width: 600px) {
    .mainBlock {
        padding-top: 80px;
    }
}


@media (max-width: 950px) {
    .mainBlock {
        height: 100vh;
        margin-top: 70px;
        padding: 0;
    }

    .container{
        justify-content: center;
    }

    .flexBlock {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .blockLeft {
        height: 100px;
        padding-bottom: 90px;
    }

    .button {
        display: flex;
        justify-content: center;
    }

}

@media (min-height: 590px) {
    .mainBlock {
        height: 110vh;
    }
}