.mainBlock {
    height: 100vh;
    background-image: url("../assets/image/back-white2.jpg");
}

.text {
    width: 300px;

}

.photo {
    width: 300px;
    height: 400px;
    background-color: lightslategrey;
}

@media screen and (max-width: 600px) {
    .mainBlock {
      padding-top: 80px;
    }
}