.mainBlock {
    height: 100vh;
    background-color: #a1acfc;
}

.text {
    width: 300px;
    background-color: lightslategrey;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: lightslategrey;
}